<% include ../partials/header %>
<% include header %>
<h1>Edit <%= user.nickname %>:</h1>

<div class="row justify-content-center">
    <div class="col mw500">
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title<%= (user.username==currentUser.username)? ' text-success':'' %>">
                    <%= user.nickname %>
                    <% if(user.username==currentUser.username){ %>
                        (You)
                    <% } %>
                </h4>
                <p class="card-text">
                    <%= user.username %>
                </p>
                    <ul id="user-settings" class="list-group list-group-flush">
                        <li id="isAdmin" class="list-group-item pl-0"><i class="fa fa-<%= user.isAdmin ? 'check-square text-success':'square text-danger' %>" aria-hidden="true"></i> Admin</li>
                        <li id="emailConf" class="list-group-item pl-0"><i class="fa fa-<%= user.emailConf ? 'check-square text-success':'square text-danger' %>" aria-hidden="true"></i> Email confirmed</li>
                        <li id="read" class="list-group-item pl-0"><i class="fa fa-<%= user.read ? 'check-square text-success':'square text-danger' %>" aria-hidden="true"></i> Read</li>
                        <li id="write" class="list-group-item pl-0"><i class="fa fa-<%= user.write ? 'check-square text-success':'square text-danger' %>" aria-hidden="true"></i> Write</li>
                    </ul>
            </div>
            <div class="card-body">
                <a href="javascript:;" onclick="postUser()" class="card-link btn btn-success">Save</a>
                <% if(!(user.username==currentUser.username)){ %>
                    <form class="float-right" id="delete<%= user._id %>" action="/admin/users/<%= user._id %>?_method=DELETE" method="POST">
                        <a href="javascript:;" onclick="$('#delete<%= user._id %>').submit();" class="card-link btn btn-danger">Delete</a>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/user.js"></script>

<% include ../partials/footer %>