<% include ../partials/header %>

<h1>All users:</h1>

<div class="row">
    <% users.forEach(user => { %> 
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title<%= function(){
                        if(user.username==currentUser.username){
                            return " text-danger";
                        }
                    }() %>"><%= user.nickname %></h4>
                    <p class="card-text"><%= user.username %></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0"><i class="fa fa-<%= user.isAdmin ? 'check-':'' %>square" aria-hidden="true"></i> Admin</li>
                        <li class="list-group-item pl-0"><i class="fa fa-<%= user.emailConf ? 'check-':'' %>square" aria-hidden="true"></i> Email confirmed</li>
                        <li class="list-group-item pl-0"><i class="fa fa-<%= user.read ? 'check-':'' %>square" aria-hidden="true"></i> Read</li>
                        <li class="list-group-item pl-0"><i class="fa fa-<%= user.write ? 'check-':'' %>square" aria-hidden="true"></i> Write</li>
                    </ul>
                </div>
                <div class="card-body">
                    <a href="users/<%= user._id %>" class="card-link btn btn-secondary">Edit</a>
                    <form class="float-right" id="delete<%= user._id %>" action="users/<%= user._id %>?_method=DELETE" method="POST">
                        <a href="javascript:;" onclick="$('#delete<%= user._id %>').submit();" class="card-link btn btn-danger">Delete</a>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>